* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Poppins";
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#about {
  padding: 50px 10px 20px 20px;
}
html {
  height: 100%;
}

.about-h1 {
  font-weight: bold;
  font-size: 2.2rem;
  padding-bottom: 20px;
  margin-left: 0.3em;
}

.about-text {
  font-size: 1.5rem;
  width: 1200px;
  margin-top: 80px;
}

.about-all {
  display: flex;
}
.ui2 {
  margin: 10px 20px 20px 10px;
  width: 80%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #080d35;
  font-family: "Poppins", sans-serif;
}

.logo a {
  position: relative;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  right: 10%;
  text-decoration: none;
}
.nav-links {
  display: flex;
  width: 20%;
  position: relative;
  left: 10%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .about-h1{
    margin-left:4em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 20vh;
    top: 2vh;
    background-color: #080d35;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    transform: translateX(100%);
    transform: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
  img {
    display: none;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
