* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  height: 100%;
}
body {
  font-family: "Poppins";
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #080d35;
  font-family: "Poppins", sans-serif;
}

.logo a {
  position: relative;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  right: 10%;
  text-decoration: none;
}
.nav-links {
  display: flex;
  width: 20%;
  position: relative;
  left: 10%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 20vh;
    top: 2vh;
    background-color: #080d35;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transform: translateX(100%);
    transform: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


.home-text {
  text-align: justify;
}

@media only screen and (min-width: 1080px) {
  section {
    padding: 5em 0em;
  }
  .hero .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .hero .left-col {
    margin: 0;
  }
  .hero .left-col h1 {
  font-size: 2em;
    width: 96%;
    padding: 0px 60px;
    margin-top:15%;
  }
  .hero .left-col p {
    padding: 40px 60px;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
    border-radius: 90px;
  }
  .left-col .subhead {
    color: white;
  }
}

.left-col .subhead {
  color: white;
}
.hero-img {
  margin-left: 5em;
  border-radius: 90px;
  margin-top:5%;

}
.left-col h1 {
  font-size: 1.3em;
  line-height: 1.3em;

}
.hero .left-col p {
  font-size: 1.0em;

}
.left-col {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
